<!DOCTYPE html>
<html>
<head>
  <title>EadIndexer</title>
  <%= stylesheet_link_tag    "ead_indexer/application", media: "all" %>
  <%= javascript_include_tag "ead_indexer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
